<?xml version="1.0"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2023 Hippiemonkeys Web Inteligence EE (https://hippiemonkeys.com)
    Hippiemonkeys_ModificationAmastyAdminActionsLog
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Active Session connection -->
    <virtualType name="Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\ActiveSessionConnection" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\Connection">
        <arguments>
            <argument name="section" xsi:type="string">hippiemonkeys_modification</argument>
            <argument name="group" xsi:type="string">amastyadminactionslog</argument>
            <argument name="activeField" xsi:type="string">database_active_session_active</argument>
            <argument name="parentConfig" xsi:type="object">Hippiemonkeys\Modification\Helper\Config\Section\Group\General</argument>
            <argument name="connectionNameField" xsi:type="string">database_active_session_connection_name</argument>
        </arguments>
    </virtualType>
    <type name="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\ActiveSessionConnectionPlugin">
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\ActiveSessionConnection</argument>
        </arguments>
    </type>
    <type name="Amasty\AdminActionsLog\Model\ActiveSession\ResourceModel\ActiveSession">
        <plugin name="hippiemonkeys_modificationamastyadminactionslog_activesessionconnectionplugin" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\ActiveSessionConnectionPlugin" sortOrder="0" disabled="false" />
    </type>

    <!-- Log connection -->
    <preference for="Amasty\AdminActionsLog\Model\LogEntry\ResourceModel\Grid\Collection" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Model\LogEntry\ResourceModel\Grid\Collection" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="amaudit_actionslog_listing_data_source" xsi:type="string">Hippiemonkeys\ModificationAmastyAdminActionsLog\Model\LogEntry\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\LogConnection" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\Connection">
        <arguments>
            <argument name="section" xsi:type="string">hippiemonkeys_modification</argument>
            <argument name="group" xsi:type="string">amastyadminactionslog</argument>
            <argument name="activeField" xsi:type="string">database_log_active</argument>
            <argument name="parentConfig" xsi:type="object">Hippiemonkeys\Modification\Helper\Config\Section\Group\General</argument>
            <argument name="connectionNameField" xsi:type="string">database_log_connection_name</argument>
        </arguments>
    </virtualType>
    <type name="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\LogConnectionPlugin">
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\LogConnection</argument>
        </arguments>
    </type>
    <type name="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\LogConnectionPlugin">
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\LogConnection</argument>
        </arguments>
    </type>
    <type name="Hippiemonkeys\ModificationAmastyAdminActionsLog\Model\LogEntry\ResourceModel\Grid\Collection">
        <plugin name="hippiemonkeys_modificationamastyadminactionslog_logconnectionplugin" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\LogConnectionPlugin" sortOrder="0" disabled="false" />
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\LogConnection</argument>
        </arguments>
    </type>
    <type name="Amasty\AdminActionsLog\Model\LogEntry\ResourceModel\LogDetail">
        <plugin name="hippiemonkeys_modificationamastyadminactionslog_logconnectionplugin" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\LogConnectionPlugin" sortOrder="0" disabled="false" />
    </type>
    <type name="Amasty\AdminActionsLog\Model\LogEntry\ResourceModel\LogEntry">
        <plugin name="hippiemonkeys_modificationamastyadminactionslog_logconnectionplugin" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\LogConnectionPlugin" sortOrder="0" disabled="false" />
    </type>

    <!-- Login Atempt connection -->
    <virtualType name="Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\LoginAttemptConnection" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\Connection">
        <arguments>
            <argument name="section" xsi:type="string">hippiemonkeys_modification</argument>
            <argument name="group" xsi:type="string">amastyadminactionslog</argument>
            <argument name="activeField" xsi:type="string">database_login_attempt_active</argument>
            <argument name="parentConfig" xsi:type="object">Hippiemonkeys\Modification\Helper\Config\Section\Group\General</argument>
            <argument name="connectionNameField" xsi:type="string">database_login_attempt_connection_name</argument>
        </arguments>
    </virtualType>
    <type name="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\LoginAttemptPlugin">
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\LoginAttemptConnection</argument>
        </arguments>
    </type>
    <type name="Amasty\AdminActionsLog\Model\LoginAttempt\ResourceModel\LoginAttempt">
        <plugin name="hippiemonkeys_modificationamastyadminactionslog_loginAttemptplugin" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\LogConnectionPlugin" sortOrder="0" disabled="false" />
    </type>

    <!-- Visit History connection -->
    <virtualType name="Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\VisitHistoryConnection" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\Connection">
        <arguments>
            <argument name="section" xsi:type="string">hippiemonkeys_modification</argument>
            <argument name="group" xsi:type="string">amastyadminactionslog</argument>
            <argument name="activeField" xsi:type="string">database_visit_history_active</argument>
            <argument name="parentConfig" xsi:type="object">Hippiemonkeys\Modification\Helper\Config\Section\Group\General</argument>
            <argument name="connectionNameField" xsi:type="string">database_visit_history_connection_name</argument>
        </arguments>
    </virtualType>
    <type name="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\VisitHistoryConnectionPlugin">
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\ModificationAmastyAdminActionsLog\Helper\Config\VisitHistoryConnection</argument>
        </arguments>
    </type>
    <type name="Amasty\AdminActionsLog\Model\VisitHistoryEntry\ResourceModel\VisitHistoryDetail">
        <plugin name="hippiemonkeys_modificationamastyadminactionslog_visithistoryconnectionplugin" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\VisitHistoryConnectionPlugin" sortOrder="0" disabled="false" />
    </type>
    <type name="Amasty\AdminActionsLog\Model\VisitHistoryEntry\ResourceModel\VisitHistoryEntry">
        <plugin name="hippiemonkeys_modificationamastyadminactionslog_visithistoryconnectionplugin" type="Hippiemonkeys\ModificationAmastyAdminActionsLog\Plugin\VisitHistoryConnectionPlugin" sortOrder="0" disabled="false" />
    </type>
</config>