<?xml version="1.0"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2023 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_ModificationAmastyAdminActionsLog
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="hippiemonkeys_modification">
            <group id="amastyadminactionslog" translate="label" showInDefault="1">
                <label>Amasty Admin Actions Log</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="database_active_session_active" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Database Active Session Modification Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="database_active_session_connection_name" translate="label" type="text" sortOrder="20" showInDefault="1" canRestore="1">
                    <label>Database Active Session Modification Connection Name</label>
                </field>
                <field id="database_log_active" translate="label" type="select" sortOrder="30" showInDefault="1" canRestore="1">
                    <label>Database Log Modification Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="database_log_connection_name" translate="label" type="text" sortOrder="40" showInDefault="1" canRestore="1">
                    <label>Database Log Modification Connection Name</label>
                </field>
                <field id="database_login_attempt_active" translate="label" type="select" sortOrder="50" showInDefault="1" canRestore="1">
                    <label>Database Login Atempt Modification Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="database_login_attempt_connection_name" translate="label" type="text" sortOrder="60" showInDefault="1" canRestore="1">
                    <label>Database Login Atempt Modification Connection Name</label>
                </field>
                <field id="database_visit_history_active" translate="label" type="select" sortOrder="70" showInDefault="1" canRestore="1">
                    <label>Database Visit History Modification Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="database_visit_history_connection_name" translate="label" type="text" sortOrder="80" showInDefault="1" canRestore="1">
                    <label>Database Visit History Modification Connection Name</label>
                </field>
            </group>
        </section>
    </system>
</config>